.box {
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}

.text {
  color: white;
  font-family: Helvetica;
  font-size: 300%;
}

.a {
  background-color: #26a69a;
}

.b {
  background-color: #e91e63;
}

.c {
  background-color: #673ab7;
}

.d {
  background-color: #01579b;
}

.e {
  background-color: #82b1ff;
}
.wrapper
{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 100px 300px
  /*
  grid-template-columns: repeat(4, 1fr); more the boxes will be the same size
  grid-template-rows: 100px;
  */
/* displays a (fraction )
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  */
/*grid-template-columns: 100px 100px auto;*/
/* auto it will occupy the empty spce*/
 /*grid-template-columns: 100px 100px 100px
 grid-template-rows:200px 300px
 */
}
