.container {
  display:grid;
  grid-template-columns:repeat(11,1fr);
  grid-template-rows:repeat(7,1fr);/*insert formal here*/
  /* Style the template for the grid */
}

/* Making border black */
#b {
  background-color: black;
}
.sideL
{
  grid-row: span 7;
}
.top
{
  grid-column : span 9;
}
.sideR
{
  grid-row: span 7;
}

.bottom
{
  grid-column:  span 9;
}

#title {
  grid-column: span 9;
}

.caption {
  grid-column: span 7;
}

#date {
  grid-column: span 2;
}

.photo {
grid-column: span 3;
grid-row: span 3;
}
  /*insert format*/
  #p1{
    grid-column-start:2;
    grid-column-end: 5;
    grid-row-start: 3;
  grid-row-end: 6;
  }
#p2{
  grid-column-start:5;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 6;
}

#p3{
  grid-column-start:8;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 6;
}


/* Style remaining grid elements */
