.container{
  display: grid;
  grid-template-rows: repeat(3,100px);
  grid-template-columns: repeat(3,100px);
}

.bn {
  background-color: white;
  color: white;
  height: 100px;
  width: 100px;
}
#b1 {
  grid-row: 1;
  grid-column: 1;
    

}

#b2 {
  grid-row: 1;
  grid-column: 2;

}
#b3 {
  grid-row: 1;
  grid-column: 3;

}
#b4{
  grid-row: 2;
  grid-column: 1;

}
#b5{
  grid-row: 2;
  grid-column: 2;

}
#b6{
  grid-row: 2;
  grid-column: 3;

}

#b7{
  grid-row: 3;
  grid-column: 1;

}

#b8{
  grid-row: 3;
  grid-column: 2;

}

#b9{
  grid-row: 3;
  grid-column: 3;

}
